<ion-content id="login" text-center padding>
  <div class="login" padding>
    <img style="max-width:200px" src="assets/imgs/icon.png" />
    <!-- <h1 style="padding-bottom:10%; padding-top: -2em">Company Login</h1> -->

    <div id="form-wrap">
      <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>
        <ion-item>

          <ion-label floating>Email</ion-label>
          <ion-input #email formControlName="email" [(ngModel)]="user.email" type="email" [class.invalid]="!loginForm.controls.email.valid && loginForm.controls.email.dirty"
            (input)="clearErrors()"></ion-input>
        </ion-item>

        <div class="err-msg" *ngIf="returnInvalid">
          <p>Unable to Login</p>
        </div>
        <ion-item>
          <ion-label floating>Password</ion-label>
          <ion-input #password formControlName="password" [(ngModel)]="user.password" type="password"></ion-input>
          <div class="err-msg" *ngIf="!loginForm.controls.password.valid && loginForm.controls.password.dirty && returnInvalid">
            <p>Your password needs more than 6 characters.</p>

          </div>

        </ion-item>


        <button ion-button block color="secondary" round type="submit" style="margin-top: 3em">Login</button>
      </form>
    </div>

  </div>
</ion-content>
