<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Users List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content text-center>
  <ion-row>
    <ion-col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 *ngFor="let user of usersArr">
      <ion-card>
    <ion-card-header>
        <img class="userimg" [src]="user.profileurl" />
      <b> {{user.firstName}} {{user.lastName}}</b>
    </ion-card-header>
    <ion-card-content *ngIf="user.unit">
      Unit {{user.unit}}
    </ion-card-content>
    <ion-card-content *ngIf="user.name">
      Unit {{user.unit}}
    </ion-card-content>
    <ion-row no-padding>
      <ion-col text-right>
        <button ion-button clear small color="danger" icon-start (tap)="removeUser(user)">
          <ion-icon name='trash'></ion-icon>
          Delete
        </button>
      </ion-col>
    </ion-row>

    </ion-card>
    </ion-col>
  </ion-row>
  
     
 
</ion-content>
