<ion-header>

  <ion-navbar>
    <ion-title>House Rules</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row>
    <ion-col col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4>
      <ion-card>
        <ion-card-header>
          Current House Rules
          <hr>
        </ion-card-header>
        <ion-card-content>
          <ion-list no-lines>
            <button ion-item *ngFor="let info of houseRules" (click)="viewDetails(info)">
              {{info.name}}
            </button>
            <div *ngIf="houseRules.length == 0">
              No Info available, add some.
            </div>
          </ion-list>

        </ion-card-content>
        <button ion-button full style="margin:0" (click)="addnew()">Add New</button>
      </ion-card>
    </ion-col>

    <ion-col col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8>
      <ion-card *ngIf="addNew">
        <ion-card-header>
          Add House Rule Information
          <hr>
        </ion-card-header>
        <ion-card-content>
          <ion-list no-lines>
            <ion-item no-padding>
              <!-- <ion-label floating>Name</ion-label> -->
              <ion-label stacked>Name</ion-label>
              <ion-input type="text" [(ngModel)]="name" placeholder="Some important house rule"></ion-input>
            </ion-item>
            <ion-item no-padding>
              <ion-label stacked>Description</ion-label>
              <ion-textarea type="text" [(ngModel)]="desciption" placeholder="Details about the house rule"></ion-textarea>
            </ion-item>
            <h4>--- OR ---</h4>
            <ion-item no-padding>
              <button ion-button small outline (click)="uploadPdf()">Uplaod PDF here</button>
              <form>
                <input hidden id="avatar" name="file" type="file" (change)="upload()">
              </form>
            </ion-item>
            <div *ngFor="let pdf of uploadedPdfs; let i = index" style="display:inline-block;padding: 5px;position:relative;">
              <img *ngIf="hasPdf" src='assets/imgs/pdf.png' />
              <ion-icon name="ios-close-circle" color="danger" style="position: absolute; top: 0; right: 0" (tap)="deletePdf(i)"></ion-icon>
            </div>
            <ion-spinner *ngIf="loading" name="bubbles"></ion-spinner>
          </ion-list>
          <div padding></div>
          <button ion-button round color="danger" (click)="submitInfo()">Add Rule</button>

        </ion-card-content>
      </ion-card>

      <!-- Info / Not Edit / Delete -->
      <ion-card *ngIf="infoDetails && !edit">
        <ion-card-header>
          <ion-row>
            <ion-col col-8 align-self-center text-left>
              <ion-item no-padding>
                <b>{{details.name}}</b>
              </ion-item>
            </ion-col>

            <ion-col col-4 align-self-center text-right>
              <ion-buttons end>
                <button ion-button item-end clear small color="danger" icon-start (tap)="editBuildingInfo(details)">
                  <ion-icon name='create'></ion-icon>
                  Edit
                </button>

                <button ion-button item-end clear small color="danger" icon-start (tap)="deleteBuildingInfo(details.id)">
                  <ion-icon name='trash'></ion-icon>
                  Delete
                </button>
              </ion-buttons>
            </ion-col>
          </ion-row>

        </ion-card-header>
        <ion-card-content>
          <p *ngIf="details.text" class="ws">{{details.text}}</p>
          <div *ngIf="details.pdf">
            <ion-item no-padding *ngFor="let pdf of details.pdf; let i = index">
              <img src='assets/imgs/pdf.png' style="width:50px" />
              <a [href]='pdf.pdf' target='_blank'>View PDF {{i+1}}</a>
            </ion-item>
          </div>
        </ion-card-content>

      </ion-card>

      <!-- Info / Editable / Delete -->
      <ion-card *ngIf="infoDetails && edit">
        <ion-card-header>
          <ion-row>
            <ion-col align-self-center>
              Edit House Rule Information
            </ion-col>
            <ion-col col-3 align-self-center text-right>
              <button ion-button icon-only clear color="danger" (click)="cancelEdit()">
                <ion-icon name="close"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
          <hr>
        </ion-card-header>
        <ion-card-content>
          <ion-list no-lines>
            <ion-item no-padding>
              <!-- <ion-label floating>Name</ion-label> -->
              <ion-label stacked>Name</ion-label>
              <ion-input type="text" [(ngModel)]="editDetails.name"></ion-input>
            </ion-item>
            <ion-item no-padding>
              <ion-label stacked>Description</ion-label>
              <ion-textarea type="text" [(ngModel)]="editDetails.text"></ion-textarea>
            </ion-item>
            <h4>--- Uploaded Pdf ---</h4>
            <div *ngIf="editDetails.pdf">
              <ion-list>
                <ion-item *ngFor="let pdf of editDetails.pdf; let i = index" style="display: inline-block; width: 20%">
                  <button ion-button icon-only item-right clear color="danger" (click)="removePdf(pdf, i)" style="position: absolute; top: 0; right: 2em;">
                    <ion-icon name="close"></ion-icon>
                  </button>
                  <img *ngIf="editDetails.pdf.length > 0" src="assets/imgs/pdf.png" alt="pdf" style="width: 65%">

                  <a [href]='pdf.pdf' target='_blank'>
                    View PDF {{i+1}}
                  </a>


                </ion-item>
              </ion-list>
            </div>

            <ion-item no-padding>
              <button ion-button small outline (click)="uploadPdf()">Uplaod PDF here</button>
              <form>
                <input hidden id="avatar" name="file" type="file" (change)="upload()">
              </form>
            </ion-item>

            <div *ngFor="let pdf of uploadedPdfs; let i = index" style="display:inline-block;padding: 5px;position:relative;">
              <img *ngIf="hasPdf" src='assets/imgs/pdf.png' />
              <ion-icon name="ios-close-circle" color="danger" style="position: absolute; top: 0; right: 0" (tap)="deletePdf(i)"></ion-icon>
            </div>
            <ion-spinner *ngIf="loading" name="bubbles"></ion-spinner>
          </ion-list>
          <div padding></div>
          <button ion-button round color="danger" (click)="editInfo()">Update Info</button>

        </ion-card-content>
      </ion-card>

    </ion-col>
  </ion-row>

</ion-content>